<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Update Pilot</title>
</head>
<body>
	<h2>Hello!</h2>
	
	<h3>Update Pilot</h3>
	<form th:action="@{/pilot/update/{licenseNumber}(licenseNumber=${pilotOld.licenseNumber})}" th:object="${pilotNew}" method="POST">
		Name: <br>
		<input type="text" name="name" th:field="${pilotOld.name}"/>
		<br>
		Fly Hour: <br>
		<input type="number" name="flyHour" th:field="${pilotOld.flyHour}"/>
		<br><br>
		<button type="submit">Submit</button>
	
	</form>

</body>
</html>